
#greeting-row,
#app-row,
#players-card,
#game-card,
#challenge-block,
#accept-block,
#invite-list,
#feedback-banner,
#tests-block,
#files-wrapper {
    display: none;
}

#notation-navigation {
    visibility: hidden;
}

main {
    margin-top: 80px;
}

#game {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#start-game-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#test-wrapper,
#notation-wrapper {
    display: block;
    overflow: auto;
    height: 300px;
    max-height: 300px;
}

.notation-row {
    font-weight: 600;
    width: 100%;
}

.notation-move {
    display: inline-block;
    min-width: 40px;
    line-height: 24px;
    cursor: pointer;
    border-radius: 2px;
}

.nav-link:hover {
    cursor: pointer
}

.icon {
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0.5rem;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #e1e1e1;

    width: 52px;
    height: 52px;
    text-align: center;
}

.captured {
    width: 30px;
    height: 30px;
    font-size: 1.2em;
}

#start-game-options {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-right: 20px;
}

.form-check {
    margin-bottom: 0.0em !important;
}

/*  NOTE(thomas):
    200 fit perfectley for small devices.
    use media querry as specified for bootstrap 4
    to change it according to screen size.
    These feedback messages won't be to long for wrapping to
    be a problem anyway...
*/
.feedback-message {
    word-wrap: break-word;
    max-width: 200px;
}

#info-banner {
    align-items: flex-end;
    justify-content: space-between;
}


#feedback-banner {
    margin: 10px 0 0 0;
    text-align: center;
}

.player-info {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.player-info > span:nth-child(1) {
    font-weight: bolder;
    font-size: 1em;
}

.player-info > span:nth-child(2) {
    font-size: 2em;
}

.player-info-left {
    align-items: flex-start;
}

.player-info-right {
    align-items: flex-end;
}

.player-name {
    padding: 0rem 0.5rem;
    /*margin-bottom: -5px;*/
}

.captured-row {
    margin: -2px 0px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}


/* UTILITY RULES */

.Z-10000 { z-index: 10000; }

.no-padding { padding: 0 0; }

.shift-top-8    { margin-top: -8px;     }
.shift-bottom-8 { margin-bottom: -8px;  }

.shift-right-12              { margin-right: -12px; }
.shift-right-12:last-child   { margin-right: 0px;   }

.shift-left-12               { margin-left: -12px;  }
.shift-left-12:first-child   { margin-left: 0px;    }

.shift-right-odd-12                 { margin-right: -4px;   }
.shift-right-odd-12:nth-child(odd)  { margin-right: -12px;  }

.shift-left-even-12                  { margin-left: -4px;   }
.shift-left-even-12:nth-child(even)  { margin-left: -12px;  }

.size-square-50px {
    width: 50px;
    height: 50px;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

.cursor-pointer {
    cursor: pointer;
}

.grow-1 {
    flex-grow: 1;
}

.grow-2 {
    flex-grow: 2;
}

.grow-3 {
    flex-grow: 3;
}

.grow-4 {
    flex-grow: 4;
}

.grow-5 {
    flex-grow: 5;
}
