
#in-server-card,
#notation-wrapper,
#game-tab-content,
#play-tab-content,
#waiting-block,
#feedback-card,
#notation-navigation,
#analyze-navigation,
#rematch {
    display: none;
}

#white-darkmode-active,
#referee-darkmode-active,
#black-darkmode-active {
    visibility: hidden;
}

#player-row-section {
    width: 100%;
}

#captured-bottom-pieces div:last-child {
    width: 100%;
}

#waiting-block {
    justify-content: center;
}

main {
    margin-top: 80px;
}

#board {
    width: 100%;
}

#game {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.icon {
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0.5rem;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #e1e1e1;

    width: 52px;
    height: 52px;
    text-align: center;
}

#feedback-card {
    position: fixed;
    bottom: 15px;
    right: 15px;
    margin: 0;
    min-width: 400px;
    box-shadow: 2px 2px 4px #888888;
}

#notation-wrapper {
    display: block;
    overflow: auto;
    height: 300px;
    max-height: 300px;
}

#start-game-banner {
    height: 115px;
}

.notation-row {
    font-weight: 600;
    width: 100%;
}

.notation-move {
    display: inline-block;
    min-width: 40px;
    line-height: 24px;
    cursor: pointer;
    border-radius: 2px;
}

#waiting-section,
#decline-section,
#busy-section {
    height: 200px;
    width: 100%;
}

.a-like {
    color: #0275d8;
    text-decoration: none;
    cursor: pointer;
}

.a.like:hover {
    color: #014c8c;
}

.a-like:visited {
    text-decoration: underline;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.color-white {
    color: #fff;
}

.color-555 {
    color: #555;
}

.icon-active {
    top: -17px;
}

.icon-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    /*line-height: 2em;*/
    vertical-align: middle;
}
.icon-stack-1x,
.icon-stack-2x,
.icon-stack-3x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}
.icon-stack-1x {
    line-height: inherit;
}
.icon-stack-2x {
    font-size: 1.5em;
}
.icon-stack-3x {
    font-size: 2em;
}

button,
.cursor-pointer { cursor: pointer;  }

.no-padding { padding: 0 0; }

.shift-top-8    { margin-top: -8px;     }
.shift-bottom-8 { margin-bottom: -8px;  }

.shift-right-12              { margin-right: -12px; }
.shift-right-12:last-child   { margin-right: 0px;   }

.shift-left-12               { margin-left: -12px;  }
.shift-left-12:first-child   { margin-left: 0px;    }

.shift-right-odd-12                 { margin-right: -4px;   }
.shift-right-odd-12:nth-child(odd)  { margin-right: -12px;  }

.shift-left-even-12                  { margin-left: -4px;   }
.shift-left-even-12:nth-child(even)  { margin-left: -12px;  }

.grow-1 {
    flex-grow: 1;
}

.grow-2 {
    flex-grow: 2;
}

.grow-3 {
    flex-grow: 3;
}

.grow-4 {
    flex-grow: 4;
}

.grow-5 {
    flex-grow: 5;
}

.grow-1-i {
    flex-grow: 1 !important;
}
